################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CST116-Ch6-Debugging/.vs/CST116-Ch6-Debugging/v17/Browse.VC.opendb
